:root {
    --body-bg-color: #fefae0;
    --heading-bg-color: #606c38;
    --heading-text: #ffffff;
    --nav-bg-color: #283618;
    --nav-link-border-color: #000;
    --nav-link-bg-color: #606c38;
    --nav-text: #ffffff;
    --h1-text-color: #283618;
    --card-border-color: #bc6c25;
    --card-heading-bg-color: #dda15e;
    --card-heading-text-color: #000;
    --card-body-bg-color: #fff;
    --footer-bg-color: #bc6c25;
    --footer-text-color: #000;
    --img-border-color: #bc6c25;
    --img-shadow-color: #bc6c2533;
    --body-link-text-color: #283618;
    --body-link-hover-text-color: #bc6c25;
}
* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13pt;
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    margin: 0px auto;
    background-color: var(--body-bg-color);
}
header {
    display: flex;
    flex-direction: column;
    background-color: var(--heading-bg-color);
    height: 50px;
}
header h1 {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.4rem;
    color: white;
}
main {
    padding: 16px 32px;
    max-width: 800px;
    margin: 0px auto;
}
main h1 {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--h1-text-color);
}
a.return {
    display: block;
    width: 90%;
    max-width: 350px;
    margin: 20px auto 0 auto;
    border: solid 2px var(--nav-bg-color);
    border-radius: 10px;
    padding: 6px 12px;
    background-color: var(--heading-bg-color);
    color: white;
    text-align: center;
    text-decoration: none;
}
a.return:hover {
    background-color: var(--nav-bg-color);
}
.frm fieldset {
    border-radius: 10px;
    border: solid 1px var(--heading-bg-color);
    padding: 8px 16px;
}
span.label,
.frm label {
    display: block;
    color: var(--heading-bg-color);
    font-size: .85rem;
    font-weight: 700;
}
span.italic {
    font-style: italic;
}
.frm label.option {
    color: black;
    font-weight: 400;
}
.frm label.last {
    margin-bottom: 10px;
}
.frm input[type="text"],
.frm input[type="date"],
.frm select,
.frm textarea {
    display: block;
    width: 100%;
    font-size: .85rem;
    margin-bottom: 10px;
    color: #555;
    padding: 6px 12px;
    box-sizing: border-box;
}
.frm input[type="submit"] {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: solid 2px var(--nav-bg-color);
    border-radius: 10px;
    padding: 6px 12px;
    background-color: var(--heading-bg-color);
    color: white;

}
.frm input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--nav-bg-color);
}

footer {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--footer-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    color: var(--footer-text-color);
}